<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAKi9cRBoGL5MFgQNESdjRXvO9gb-nRSxc</string>
	<key>GCM_SENDER_ID</key>
	<string>25094778776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.workoutApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ton-217b6</string>
	<key>STORAGE_BUCKET</key>
	<string>ton-217b6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:25094778776:ios:77222792893b16fab9c5ed</string>
</dict>
</plist>